# Build artifacts
build/
dist/
*.o

# Local data
*.csv
*.log
build_errors.txt
build_log.txt

# OS / Editor specific
.DS_Store
Thumbs.db
.clangd
.vscode/
*.json

# Amiga specific (optional if you want to keep logs)
stats/
plan/
tmp/
releases/
